extends partials/templates/template.pug

block content
  +b.page-header
    .container
      .row
        .col-xs-12
          +e.H1.title Услуги
  +b.breadcrumbs
    .container
      .row
        .col-xs-12
          +e.A.link(href="index.html") Главная
          +e.SPAN.item >
          +e.SPAN.item Услуги
  include partials/components/faq.pug