extends partials/templates/template.pug

block content
  include partials/components/promo-slider.pug
  include partials/components/offer.pug
  include partials/components/promo.pug
  include partials/components/news-slider.pug
  include partials/components/reviews-slider.pug