extends partials/templates/template.pug

block content
  +b.page-header
    .container
      .row
        .col-xs-12
          +e.H1.title СТРАНИЦА НЕ НАЙДЕНА
  +b.breadcrumbs
    .container
      .row
        .col-xs-12
          +e.A.link(href="index.html") Главная
          +e.SPAN.item >
          +e.SPAN.item Страница не найдена
  +b.page-404
    .container
      .row
        .col-xs-12
          +e.wrapper
            +e.H2.title Похоже что-то пошло не так!
            +e.P.text Данной страницы не существует.