extends partials/templates/template.pug

block content
  +b.page-header
    .container
      .row
        .col-xs-12
          +e.H1.title JOHN LEADER
  +b.breadcrumbs
    .container
      .row
        .col-xs-12
          +e.A.link(href="index.html") Главная
          +e.SPAN.item >
          +e.SPAN.item John Leader
  include partials/components/single-staff.pug