.news-slider {
  padding: 30px 0;
  position: relative;
  background-color: $white;
  &__title {
    margin-left: 15px;
    font-weight: 500;
    line-height: 1.1;
    color: #000;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-bottom: 50px;
    &:after {
    bottom: -16px;
    content: "";
    left: 0;
    height: 3px;
    position: absolute;
    width: 73px;
    background-color: $blue;
    }
  }
  .slick-slide {
    outline: none;
    padding-bottom: 20px;
  }
  .slick-arrow {
    position: absolute;
    z-index: 100;
    background-color: $blue;
    height: 40px;
    width: 49px;
    font-size: 0;
    line-height: 40px;
    text-align: center;
    outline: none;
    border: none;
    transition: .3s;
    &:hover {
      background-color: $dark-blue;
    }
  }
  .slick-next {
    top: -70px;
    right: 0;
    margin-right: 15px;
    border-radius: 0 3px 3px 0;
    &:after {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    content: "\f104";
    font-family: FontAwesome;
    transform: rotate(-180deg);
    line-height: 40px;
    text-align: center;
    display: block;
    font-size: 18px;
    bottom: 0;
    left: 0;
    border-right: 1px solid $dark-blue;
    }
  }
  .slick-prev {
    top: -70px;
    right: 0;
    margin-right: 64px;
    border-radius: 3px 0 0 3px;
    &:after {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    content: "\f104";
    font-family: FontAwesome;
    line-height: 40px;
    text-align: center;
    display: block;
    font-size: 18px;
    bottom: 0;
    left: 0;
    }
  }
  &__img {
    img {

    }
  }
  &__box {
    border: 1px solid #e5e5e5;
    position: relative;
  }
  &__wrapper {
    border-top: 1px solid #e5e5e5;
    padding: 5px 20px;
  }
  &__subtitle {
    font-size: 16px;
    color: #000;
    transition: .3s;
    font-weight: 500;
    padding: 10px 0;
    display: block;
    font-family: 'Roboto', sans-serif;
    &:hover {
      opacity: .7;
    }
  }
  &__date,
  &__comments {
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
  }
  i {
    margin-right: 5px;
    font-size: 14px;
    color: $blue;
  }
  &__date {
    margin-right: 10px;
  }
  &__btn-inner {
    position: absolute;
    bottom: 0px;
    left: 15px;
  }
  &__text {
    padding-bottom: 30px;
  }
  &__btn {
    color: #fff;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), transparent 18px);
    background-color: $blue;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
    transition: .3s;
   &:after {
    border-color: #595959 transparent transparent transparent;
    border-style: solid;
    border-width: 4px 4px 0 0;
    bottom: -4px;
    content: "";
    position: absolute;
    right: -4px;
    width: 0;
    height: 0;
    width: 0;
    }
    &:hover {
      background-color: $dark-blue;
    }
  }
}