.offer {
  padding-top: 25px;

  &__title {
    font-weight: 500;
    line-height: 1.1;
    color: #000;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-bottom: 50px;
    &:after {
    bottom: -16px;
    content: "";
    left: 0;
    height: 3px;
    position: absolute;
    width: 73px;
    background-color: $blue;
    }
  }
  a {
    color: $blue;
    transition: .3s;
    &:hover {
      color: $dark-blue;
    }
  }
  &__subtitle {
    margin: 10px 0;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-left: 36px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    i {
      position: absolute;
      left: 0;
      font-size: 28px;
      color: $blue;
      top: -4px;
    }
  }
  &__inner {
    padding-right: 15px;
    margin-bottom: 45px;
  }
  &__link {
    font-size: 12px;
    padding: 11px 0px;
    text-transform: uppercase;
  }
}