.page-404 {
  padding: 40px 0;
  color: #000;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  &__title {
    font-size: 31px;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 12px;
  }
}