include ../abstracts/bemto/bemto.pug

//FAQ
+b.SECTION.faq
  .container
    .row
      .col-xs-12.col-lg-9
        +e.H2.title FIND EVERYTHING HERE
        +e.P.promo-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a enim aliquam, condimentum nisl a, laoreet lectus. Aliquam convallis sed elit nec vehicula. Praesent gravida, massa sit amet ullamcorper fringilla, tortor nunc ultrices dui, in tristique leo leo sed massa.
        +e.P.text Quisque et lectus pulvinar, porttitor mi non, elementum dui. Morbi mi nisl, tincidunt sed venenatis eget, finibus eu mauris. Nullam nisi lacus, feugiat eget varius eget, pellentesque dictum odio. Sed sollicitudin viverra est, at aliquam metus ultrices id. Duis eu purus vel nisl commodo facilisis vitae ut lectus. Quisque et lectus pulvinar, porttitor mi non, elementum dui. Morbi mi nisl, tincidunt sed venenatis eget, finibus eu mauris. Nullam nisi lacus, feugiat eget varius eget, pellentesque dictum odio. Sed sollicitudin viverra est, at aliquam metus ultrices id. Duis eu purus vel nisl commodo facilisis vitae ut lectus.
        +e.accordion
          +e.box
            +e.H4.subtitle.subtitle-close Who can file a freight claim?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri
          +e.box
            +e.H4.subtitle.subtitle-close Why do I need to provide a copy of the shipper's invoice?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri
          +e.box
            +e.H4.subtitle.subtitle-close What if I discovered concealed damages after delivery?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri
          +e.box
            +e.H4.subtitle.subtitle-close Who can file a freight claim?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri
          +e.box
            +e.H4.subtitle.subtitle-close Who can file a freight claim?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri
          +e.box--last
            +e.H4.subtitle.subtitle-close Who can file a freight claim?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri
      .col-xs-12.col-lg-3
        +e.wrapper
          +e.A.link(href="services.html") Сертификация качества
          +e.A.link(href="services.html") Сертификация качества
          +e.A.link(href="services.html") Сертификация качества