include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer
  .container
    .row
      .col-xs-12.col-md-3
        +b.logo
          +e.A.img(href="index.html")
            img(src="img/footer-logo.png", alt="logo", title="logo")
        +e.P.text Редактируемый в виджете Footer 1 текст. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis est tellus, venenatis sed nisi in, egestas bibendum sem. Nam tempus dolor quis interdum auctor.
      .col-xs-12.col-md-3
        +e.H3.title Navigation
        +b.UL.navigation-list
          +e.LI.item
            +e.A.link(href="#") > Главная
          +e.LI.item
            +e.A.link(href="#") > О компании
          +e.LI.item
            +e.A.link(href="#") > Услуги
          +e.LI.item
            +e.A.link(href="#") > Новости
          +e.LI.item
            +e.A.link(href="#") > Контакты
        +e.H3.title Будьте на связи с нами
        +e.P.text Contact us via social networks
        +b.UL.socials-list
          +e.LI.item
            +e.A.link(href="#")
              i.fa.fa-twitter
          +e.LI.item
            +e.A.link(href="#")
              i.fa.fa-facebook
          +e.LI.item
            +e.A.link(href="#")
              i.fa.fa-linkedin
          +e.LI.item
            +e.A.link(href="#")
              i.fa.fa-instagram
          +e.LI.item
            +e.A.link(href="#")
              i.fa.fa-vk
      .col-xs-12.col-md-3
        +e.H3.title Часы работы
        +e.P.text Visit us at our HQ for a mean cup of coffe and a fantastic consulting team.
        +e.TABLE.working-hours
          tbody
            tr
              th Понедельник
              td 9am > 5pm
            tr
              th Вторник
              td 9am > 5pm
            tr
              th Среда
              td 9am > 5pm
            tr
              th Четверг
              td 9am > 5pm
            tr
              th Пятница
              td 9am > 5pm
            tr
              th Суббота
              td 9am > 5pm
            tr
              th Воскресенье
              td
                span Закрыто
      .col-xs-12.col-md-3
        +e.H3.title Последние новости
        +e.inner
          +e.A.news(href="single-news.html") Привет, мир!
          +e.date 24.06.2016
        +e.inner
          +e.A.news(href="single-news.html") Responsible to environment
          +e.date 08.06.2016
        +e.H3.title Подписка
        +e.FORM.form
          +e.INPUT.input(type="text" name="Поиск" placeholder="поиск")

