include ../abstracts/bemto/bemto.pug
// Header
+b.HEADER.header
  +b.social-stripe
    .container
      .row
        +e.UL.list
          +e.LI.item
            +e.A.link(href="#")
              i.fa.fa-twitter
          +e.LI.item
            +e.A.link(href="#")
              i.fa.fa-facebook
          +e.LI.item
            +e.A.link(href="#")
              i.fa.fa-linkedin
          +e.LI.item
            +e.A.link(href="#")
              i.fa.fa-wordpress
  +b.header-contacts
    .container
      .row
        +e.logo-wrapper
          +e.img
            img(src="img/Logo.png")
        +e.hamburger
          +b.A.hamburger--menu(href="#")
            i.fa.fa-bars
        +e.wrapper
          +e.box
            +e.img
              i.fa.fa-home
            +e.text
              p ул. Коммунистов, 23/1
              span Москва, 123465
        +e.wrapper
          +e.box
            +e.img
              i.fa.fa-envelope
            +e.text
              p Отправить сообщение
              a(href="mailto:mail@domain.com") mail@domain.com
        +e.inner
          +e.A.btn(href="tel:+79233453434")
            span Звони!
            p +7 923 345-34-34
  //Nav
  +b.NAV.nav
    .container
      .row
        //- +e.hamburger
        //-   +b.A.hamburger(href="#")
        //-     i.fa.fa-bars
        +e.UL.list
          +e.LI.item
            +e.A.link--active(href="index.html") Главная
          +e.LI.item
            +e.A.link--sub(href="about-us.html") О компании
            +e.subhamburger-1
               +b.A.subhamburger-1(href="#")
            +e.UL.sub-menu--1
              li
                a(href="faq.html") FAQ
          +e.LI.item
            +e.A.link--sub(href="services.html") Услуги
            +e.subhamburger-2
               +b.A.subhamburger-2(href="#")
            +e.UL.sub-menu--2
              li
                a(href="single-service.html")  Сертификация
              li
                a(href="single-service.html")  Разработка технической документации
              li
                a(href="single-service.html")  Роспотребнадзор
          +e.LI.item
            +e.A.link(href="news.html") Новости
          +e.LI.item
            +e.A.link(href="contact.html") Контакты


