include ../abstracts/bemto/bemto.pug

//History
+b.SECTION.history
  .container
    .row
      .col-xs-12
        +e.H2.title История компании
        +e.item
          +e.year
            span 1982
          +e.contant
            +e.H3.subtitle Humble beginnings
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut maximus orci. Curabitur feugiat scelerisque bibendum. Cras auctor scelerisque metus quis lobortis. Donec ut imperdiet diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris tincidunt justo nisi, a viverra enim mollis non.
        +e.item
          +e.year
            span 1995
          +e.contant
            +e.H3.subtitle New headquarters
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut maximus orci. Curabitur feugiat scelerisque bibendum. Cras auctor scelerisque metus quis lobortis. Donec ut imperdiet diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris tincidunt justo nisi, a viverra enim mollis non.
        +e.item
          +e.year
            span 2010
          +e.contant
            +e.H3.subtitle Opening 5 new locations
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut maximus orci. Curabitur feugiat scelerisque bibendum. Cras auctor scelerisque metus quis lobortis. Donec ut imperdiet diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris tincidunt justo nisi, a viverra enim mollis non.
        +e.item--last
          +e.year
            span 2016
          +e.contant
            +e.H3.subtitle World wide coverage
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut maximus orci. Curabitur feugiat scelerisque bibendum. Cras auctor scelerisque metus quis lobortis. Donec ut imperdiet diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris tincidunt justo nisi, a viverra enim mollis non.