include ../abstracts/bemto/bemto.pug

//News
+b.SECTION.news
  .container
    .row
      .col-xs-12.col-md-4
        +e.box
          +e.img
            img(src="img/post1.jpg" alt="img")
          +e.wrapper
            +e.A.subtitle(href="single-page.html") The engineering of today
          +e.wrapper
            +e.date
              i.fa.fa-calendar
              |01.01.2017
            +e.comments
              i.fa.fa-commenting-o
              |0 comments
          +e.wrapper
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur rutrum diam, ut commodo ipsum elementum. Duis quis iaculis
          +e.btn-inner
            +e.A.btn(href="news.html") read more
      .col-xs-12.col-md-4
        +e.box
          +e.wrapper--first
            +e.A.subtitle(href="single-page.html") The engineering of today
          +e.wrapper
            +e.date
              i.fa.fa-calendar
              |01.01.2017
            +e.comments
              i.fa.fa-commenting-o
              |0 comments
          +e.wrapper
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur rutrum diam, ut commodo ipsum elementum. Duis quis iaculis
          +e.btn-inner
            +e.A.btn(href="news.html") read more
      .col-xs-12.col-md-4
        +e.box
          +e.img
            img(src="img/post1.jpg" alt="img")
          +e.wrapper
            +e.A.subtitle(href="single-page.html") The engineering of today
          +e.wrapper
            +e.date
              i.fa.fa-calendar
              |01.01.2017
            +e.comments
              i.fa.fa-commenting-o
              |0 comments
          +e.wrapper
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur rutrum diam, ut commodo ipsum elementum. Duis quis iaculis
          +e.btn-inner
            +e.A.btn(href="news.html") read more
      .col-xs-12.col-md-4
        +e.box
          +e.wrapper--first
            +e.A.subtitle(href="single-page.html") The engineering of today The engineering of today
          +e.wrapper
            +e.date
              i.fa.fa-calendar
              |01.01.2017
            +e.comments
              i.fa.fa-commenting-o
              |0 comments
          +e.wrapper
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur rutrum diam, ut commodo ipsum elementum. Duis quis iaculis
          +e.btn-inner
            +e.A.btn(href="news.html") read more
      .col-xs-12.col-md-4
        +e.box
          +e.img
            img(src="img/post1.jpg" alt="img")
          +e.wrapper
            +e.A.subtitle(href="single-page.html") The engineering of today
          +e.wrapper
            +e.date
              i.fa.fa-calendar
              |01.01.2017
            +e.comments
              i.fa.fa-commenting-o
              |0 comments
          +e.wrapper
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur rutrum diam, ut commodo ipsum elementum. Duis quis iaculis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur rutrum diam, ut commodo ipsum elementum. Duis quis iaculis
          +e.btn-inner
            +e.A.btn(href="news.html") read more
      .col-xs-12.col-md-4
        +e.box
          +e.img
            img(src="img/post1.jpg" alt="img")
          +e.wrapper
            +e.A.subtitle(href="single-page.html") The engineering of today
          +e.wrapper
            +e.date
              i.fa.fa-calendar
              |01.01.2017
            +e.comments
              i.fa.fa-commenting-o
              |0 comments
          +e.wrapper
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur rutrum diam, ut commodo ipsum elementum. Duis quis iaculis
          +e.btn-inner
            +e.A.btn(href="news.html") read more
      .col-xs-12.col-md-4
        +e.box
          +e.img
            img(src="img/post1.jpg" alt="img")
          +e.wrapper
            +e.A.subtitle(href="single-page.html") The engineering of today
          +e.wrapper
            +e.date
              i.fa.fa-calendar
              |01.01.2017
            +e.comments
              i.fa.fa-commenting-o
              |0 comments
          +e.wrapper
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur rutrum diam, ut commodo ipsum elementum. Duis quis iaculis
          +e.btn-inner
            +e.A.btn(href="news.html") read more
      .col-xs-12.col-md-4
        +e.box
          +e.img
            img(src="img/post1.jpg" alt="img")
          +e.wrapper
            +e.A.subtitle(href="single-page.html") The engineering of today
          +e.wrapper
            +e.date
              i.fa.fa-calendar
              |01.01.2017
            +e.comments
              i.fa.fa-commenting-o
              |0 comments
          +e.wrapper
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur rutrum diam, ut commodo ipsum elementum. Duis quis iaculis
          +e.btn-inner
            +e.A.btn(href="news.html") read more
      .col-xs-12.col-md-4
        +e.box
          +e.img
            img(src="img/post1.jpg" alt="img")
          +e.wrapper
            +e.A.subtitle(href="single-page.html") The engineering of today
          +e.wrapper
            +e.date
              i.fa.fa-calendar
              |01.01.2017
            +e.comments
              i.fa.fa-commenting-o
              |0 comments
          +e.wrapper
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur rutrum diam, ut commodo ipsum elementum. Duis quis iaculis
          +e.btn-inner
            +e.A.btn(href="news.html") read more