include ../abstracts/bemto/bemto.pug

//Offer
+b.SECTION.offer
  .container
    .row
      .col-xs-12
        +e.H2.title Предложения
      .col-xs-12.col-md-4
        +e.img
          img(src="img/secondary-guy-1.jpg")
      .col-xs-12.col-md-4
        +e.inner
          +e.H3.subtitle
            i.fa.fa-building-o
            |ПОЛНЫЙ СЕРВИС
          +e.P.text Lorem ipsum dolor sit amet, consectetur
            a(href="single-news.html") adiping elit.
            |Etiam placerat odio nec quam aliquet, velsa consectetur neq
          +e.A.link(href="single-news.html") READ MORE
        +e.inner
          +e.H3.subtitle
            i.fa.fa-cube
            |MAINTENANCE
          +e.P.text Lorem ipsum dolor sit amet, consectetur
            a(href="single-news.html") adiping elit.
            |Etiam placerat odio nec quam aliquet, velsa consectetur neq
          +e.A.link(href="single-news.html") READ MORE
      .col-xs-12.col-md-4
        +e.inner
          +e.H3.subtitle
            i.fa.fa-briefcase
            |FINISHED PRODUCT
          +e.P.text Lorem ipsum dolor sit amet, consectetur
            a(href="single-news.html") adiping elit.
            |Etiam placerat odio nec quam aliquet, velsa consectetur neq
          +e.A.link(href="single-news.html") READ MORE
        +e.inner
          +e.H3.subtitle--fourth
            i.fa.fa-truck
            |DELIVERY
          +e.P.text Lorem ipsum dolor sit amet, consectetur
            a(href="single-news.html") adiping elit.
            |Etiam placerat odio nec quam aliquet, velsa consectetur neq
          +e.A.link(href="single-news.html") READ MORE