include ../abstracts/bemto/bemto.pug

//Partners
+b.SECTION.partners
  .container
    .row
      .col-xs-12
        +e.H2.title Партнеры
    .row
      .col-xs-12.col-sm-6.col-md-4.col-lg-2
        +e.img
          img(src="img/client-1-2.png" alt="img")
      .col-xs-12.col-sm-6.col-md-4.col-lg-2
        +e.img
          img(src="img/client-1-2.png" alt="img")
      .col-xs-12.col-sm-6.col-md-4.col-lg-2
        +e.img
          img(src="img/client-1-2.png" alt="img")
      .col-xs-12.col-sm-6.col-md-4.col-lg-2
        +e.img
          img(src="img/client-1-2.png" alt="img")
      .col-xs-12.col-sm-6.col-md-4.col-lg-2
        +e.img
          img(src="img/client-1-2.png" alt="img")
      .col-xs-12.col-sm-6.col-md-4.col-lg-2
        +e.img
          img(src="img/client-1-2.png" alt="img")
