include ../abstracts/bemto/bemto.pug

//Promo
+b.promo
  .container
    .row
      .col-xs-12
        +e.H2.title THE NEXT BEST THING IN CONSTRUCTION WORDPRESS
        +e.P.text We went above and beyond to create a fantastic experience. Perfectly crafted to suite your construction business with almost unlimited options to get almost unlimited options.
        +e.btn-inner
          +e.A.btn buy now