include ../abstracts/bemto/bemto.pug

//Promo-slider
+b.SECTION.promo-slider
  +e.wrapper--first
    .container
      .row
        .col-xs-12
          +e.H2.title Welcome
          +e.P.text TO THE NEXT ERA OF MANUFACTURING
          +e.btn-inner
            +e.A.btn--blue(href="page.html") Explore
            +e.A.btn(href="page.html") Buy now
  +e.wrapper--second
    .container
      .row
        .col-xs-12
          +e.H2.title Welcome
          +e.P.text TO THE NEXT ERA OF MANUFACTURING
          +e.btn-inner
            +e.A.btn--blue(href="page.html") Explore
            +e.A.btn(href="page.html") Buy now
  +e.wrapper--third
    .container
      .row
        .col-xs-12
          +e.H2.title Welcome
          +e.P.text TO THE NEXT ERA OF MANUFACTURING
          +e.btn-inner
            +e.A.btn--blue(href="page.html") Explore
            +e.A.btn(href="page.html") Buy now