include ../abstracts/bemto/bemto.pug

//Reviews Slider
+b.SECTION.reviews-slider
  .container
    .row
      +e.H2.title Отзывы
    .row.js-reviews-slider
      .col-xs-12.col-md-6
        +e.inner
          +e.img
            img(src="img/testimonials1.jpg" alt="img")
          +e.text-inner
            +e.P.name Джонни Таф
            +e.P.position Писатель
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id interdum tellus. In hac habitasse platea dictumst. Vestibulum gravida id arcu at malesuada. Proin dictum auctor ante in condimentum. Nam sollici udin eros quis nulla.
      .col-xs-12.col-md-6
        +e.inner
          +e.img
            img(src="img/testimonials1.jpg" alt="img")
          +e.text-inner
            +e.P.name John Doe
            +e.P.position Строитель
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id interdum tellus. In hac habitasse platea dictumst. Vestibulum gravida id arcu at malesuada. Proin dictum auctor ante in condimentum. Nam sollici udin eros quis nulla. Proin dictum auctor ante in condimentum. Nam sollici udin eros quis nulla.
      .col-xs-12.col-md-6
        +e.inner
          +e.img
            img(src="img/testimonials1.jpg" alt="img")
          +e.text-inner
            +e.P.name Jane Doe
            +e.P.position Биолог
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id interdum tellus. In hac habitasse platea dictumst. Vestibulum gravida id arcu at malesuada.
      .col-xs-12.col-md-6
        +e.inner
          +e.img
            img(src="img/testimonials1.jpg" alt="img")
          +e.text-inner
            +e.P.name Джонни Таф
            +e.P.position Ведущий
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id interdum tellus. In hac habitasse platea dictumst. Vestibulum gravida id arcu at malesuada. Proin dictum auctor ante in condimentum. Nam sollici udin eros quis nulla.
