include ../abstracts/bemto/bemto.pug

//Services
+b.SECTION.features
  .container
    .row
      .col-xs-12
        +e.P.promo-text I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
      .col-xs-12.col-md-4
        +e.box
          +e.img
            img(src="img/frontpage-image1.jpg" alt="img")
          +e.inner
            +e.wrapper
              +e.H2.title
                i.fa.fa-industry
                span Категория 1
            +e.text-inner
              +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis bibendum odio, vel suscipit justo finibus.
              +e.A.link(href="single-page.html") read more
      .col-xs-12.col-md-4
        +e.box
          +e.img
            img(src="img/frontpage-image1.jpg" alt="img")
          +e.inner
            +e.wrapper
              +e.H2.title
                i.fa.fa-cog
                span Категория 1
            +e.text-inner
              +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis bibendum odio, vel suscipit justo finibus.
              +e.A.link(href="single-page.html") read more
      .col-xs-12.col-md-4
        +e.box
          +e.img
            img(src="img/frontpage-image1.jpg" alt="img")
          +e.inner
            +e.wrapper
              +e.H2.title
                i.fa.fa-flask
                span Категория 1
            +e.text-inner
              +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis bibendum odio, vel suscipit justo finibus.
              +e.A.link(href="single-page.html") read more
      .col-xs-12.col-md-4
        +e.box
          +e.img
            img(src="img/frontpage-image1.jpg" alt="img")
          +e.inner
            +e.wrapper
              +e.H2.title
                i.fa.fa-plug
                span Категория 1
            +e.text-inner
              +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis bibendum odio, vel suscipit justo finibus.
              +e.A.link(href="single-page.html") read more
      .col-xs-12.col-md-4
        +e.box
          +e.img
            img(src="img/frontpage-image1.jpg" alt="img")
          +e.inner
            +e.wrapper
              +e.H2.title
                i.fa.fa-fire
                span Категория 1
            +e.text-inner
              +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis bibendum odio, vel suscipit justo finibus.
              +e.A.link(href="single-page.html") read more
      .col-xs-12.col-md-4
        +e.box
          +e.img
            img(src="img/frontpage-image1.jpg" alt="img")
          +e.inner
            +e.wrapper
              +e.H2.title
                i.fa.fa-puzzle-piece
                span Категория 1
            +e.text-inner
              +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis bibendum odio, vel suscipit justo finibus.
              +e.A.link(href="single-page.html") read more