include ../abstracts/bemto/bemto.pug

//Services Stripe
+b.services-stripe
  .container
    .row
      .col-xs-12
        +e.P.text
          i.fa.fa-file-pdf-o
          |DOWNLOAD A COMPLETE CATALOG OF OUR SERVICES AND PROJECTS SPECIFICATIONS
        +e.btn-inner
          +e.A.btn(href="news.html")
            i.fa.fa-cloud-download
            |download