include ../abstracts/bemto/bemto.pug

//Single Staff
+b.ARTICLE.single-staff
  .container
    .row
      .col-xs-12.col-lg-4
        +e.box
          +e.img
            img(src="img/post1.jpg" alt="img")
          +e.wrapper
            +e.UL.list
              +e.LI.item
                a(href="#")
                  i.fa.fa-linkedin
              +e.LI.item
                a(href="#")
                  i.fa.fa-twitter
              +e.LI.item
                a(href="#")
                  i.fa.fa-facebook
              +e.LI.item
                a(href="#")
                  i.fa.fa-dribbble
          +e.wrapper
            +e.P.position CEO and founder of Industrial ltd.
          +e.wrapper
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur rutrum diam, ut commodo ipsum elementum. Duis quis iaculis
      .col-xs-12.col-lg-4
        +e.H2.title John Doe
        +e.P.promo-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a enim aliquam, condimentum nisl a, laoreet lectus. Aliquam convallis sed elit nec vehicula. Praesent gravida, massa sit amet ullamcorper fringilla, tortor nunc ultrices dui, in tristique leo leo sed massa.
        +e.P.text Quisque et lectus pulvinar, porttitor mi non, elementum dui. Morbi mi nisl, tincidunt sed venenatis eget, finibus eu mauris. Nullam nisi lacus, feugiat eget varius eget, pellentesque dictum odio. Sed sollicitudin viverra est, at aliquam metus ultrices id. Duis eu purus vel nisl commodo facilisis vitae ut lectus.
        +e.P.text Sed elementum dapibus tellus, a dictum metus interdum ac. Nullam condimentum, dui volutpat fringilla molestie, libero tortor ultrices lorem, at tempus diam purus non velit. Aliquam vel nulla eleifend, consequat elit id, tristique massa. Fusce dolor velit, blandit ac era.
      .col-xs-12.col-lg-4
        +e.P.text--second Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a enim aliquam, condimentum nisl a, laoreet lectus. Aliquam convallis sed elit nec vehicula. Praesent gravida, massa sit amet ullamcorper fringilla, tortor nunc ultrices dui, in tristique leo leo sed massa.
        +e.P.text Quisque et lectus pulvinar, porttitor mi non, elementum dui. Morbi mi nisl, tincidunt sed venenatis eget, finibus eu mauris. Nullam nisi lacus, feugiat eget varius eget, pellentesque dictum odio. Sed sollicitudin viverra est, at aliquam metus ultrices id. Duis eu purus vel nisl commodo facilisis vitae ut lectus.
        +e.P.text Sed elementum dapibus tellus, a dictum metus interdum ac. Nullam condimentum, dui volutpat fringilla molestie, libero tortor ultrices lorem, at tempus diam purus non velit. Aliquam vel nulla eleifend, consequat elit id, tristique massa. Fusce dolor velit, blandit ac era.